@media (min-width: 1030px)
	.container
		width: 1030px
	.links
		display: inline
	.support_right
		p
			margin-top: 20px
@media (max-width: 1029px)
	.container
		width: 100%
@media (max-width: 900px)
	.container600
		margin: 0 auto
		width: 600px
	#aboutself
		//top: -20px
		padding-top: 20px
	.rew
		grid-template-columns: 1fr 1fr
		grid-template-areas: 'rew1 rew2'
		.rew3
			display: none
	.work
		grid-template-columns: 1fr 1fr
		grid-template-areas: 'work1 work2'
		div
			width: 280px
			height: 125px
		.work1
			width: 280px
			height: 125px

		.work3
			display: none
	.upbutton
		bottom: 30px
		right: 30px
@media (max-width: 600px)
	.container600
		margin: 0 auto
		width: 100%
	.support
		grid-template-columns: 1fr
		grid-template-areas: "left" "right"
		grid-template-rows: 200px auto
		&_left
			&:after
				right: 20vw
		&_right
			text-align: center
	#aboutself
		//top: -20px
		padding-top: 30px
		padding-bottom: 0px
	.rew
		grid-template-columns: 1fr
		grid-template-areas: 'rew1'
		.rew2, .rew3
			display: none
	.work
		grid-template-columns: 1fr
		grid-template-areas: 'work1'
		div
			width: 280px
			height: 125px
		.work1
			width: 280px
			height: 125px

		.work2, .work3
			display: none
	//#price
	//	margin-top: 130px
	input
		margin-top: 20px
	button
		margin-top: 20px
	.social
		a
			svg
				width: 30px
				height: 30px
@media (max-width: 400px)
	.header
		h1, p
			padding-left: 15px
			padding-right: 15px
		h1
			font-size: 1.9em
		p
			font-size: 1em
	.button
		margin-top: 15px
	section
		padding-top: 20px
		padding-bottom: 20px
	.upbutton
		width: 50px
		height: 50px
